<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridginggoodbiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main TabHost -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TabTheme" />

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <!-- Scan -->
        <activity
            android:name=".Scan.ScanActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scan.ScanMainActivity"
            android:screenOrientation="portrait" />

        <!-- Stats -->
        <activity
            android:name=".Stats.StatsActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stats.StatsMainActivity"
            android:screenOrientation="portrait" />

        <!-- Pref -->
        <activity
            android:name=".Pref.PrefActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pref.PrefMainActivity"
            android:screenOrientation="portrait" />

        <!-- QR Reader -->
        <activity
            android:name="com.bg.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>